%ul.nav.nav-tabs.bg-dark{id: "#{controller_name}-#{action_name}-bar", role: "tablist"}
  - nav_items.each do |item|
    %li.nav-item
      %a.tabs{id: "#{item[:key]}-tab", "aria-controls" => "#{item[:key]}-pane",
      "aria-selected" => "#{item[:active] ? 'true' : 'false'}",
      "class" => "#{item[:active] ? 'nav-link active' : 'nav-link text-light'}",
      "data-toggle" => "tab", "data-scope" => "#{item[:key]}", :href => "##{item[:key]}", :role => "tab"}= item[:label]