.container
  .row
    .col-md-12
      .card.text-white.mt-4.bg-dark.mb-3.d-flex#event-card-show
        .card-header.event-header-show
          = render partial: 'event_nav'
        .card-body#event-body-show
          #myTabContent.tab-content
            #details.tab-pane.fade.show.active{"aria-labelledby" => "details-tab", :role => "tabpanel"}
              = render partial: 'details', locals: { event: @event }
            #participants.tab-pane.fade{"aria-labelledby" => "participants-tab", :role => "tabpanel"}
              = render partial: 'participants_list', locals: { event: @event }
            #tools.tab-pane.fade{"aria-labelledby" => "tools-tab", :role => "tabpanel"}
              = render partial: 'events/partials/tools'
        .card-footer.event-footer-show
          .row
            .col-md-2
              %small= l(@event.date, format: :long)
            .col-md-2.ml-auto
              %small= "Hosted by #{@event.hosts.map(&:nickname).join(', ')}"

#tool-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.bg-dark
      .modal-header
        %h5#exampleModalLabel.modal-title
          %i.fas.fa-poll
          Umfrage
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{id: 'tool-modal-body', data: {url: send_poll_community_event_path(@community, @event), token: form_authenticity_token}}

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close

= render layout: 'layouts/actions' do
  = link_to 'Zurück', community_events_path(@community)
  - if current_user.am_i_hosting?(@event) || @membership.has_role?(:admin)
    = link_to 'Bearbeiten', edit_community_event_path(@community, @event)
    = link_to 'Löschen', [@community, @event], method: :delete, data: { confirm: 'Are you sure?' }
  - if !current_user.am_i_hosting?(@event)
    - if current_user.do_i_participate?(@event)
      = render partial: 'events/partials/join_leave_button', locals: { name: 'Verlassen', action: :leave, event: @event, style: :danger } 
    - else
      = render partial: 'events/partials/join_leave_button', locals: { name: 'Teilnehmen', action: :join, event: @event, style: :primary } 

- content_for(:custom_js) do
  = javascript_pack_tag 'events/show'
