%a.card.text-white.bg-dark.index-event-card-header.mb-4.d-flex{href: "#{community_event_path(@community, event)}"}
  .card-header.event-header
    .row
      .col-md-6
        = event.title
      .col-md-6
        .float-right.participant-avatars
          - event.members.map do |m|
            = profile_picture_icon(m.user)
  .card-body.index-event-card-body
    .row
      .col-md-6
        %p.card-text= truncate(event.description, length: 100, omission: '... (continued)')
        .item-date
          %i.fas.fa-calendar-day
          %small= l(event.date)
        .item-time
          %i.fas.fa-clock
          %small= l(event.start_at.to_time)
          %i.fas.fa-clock{style: 'color: #2F3136'}
          %small= l(event.ends_at.to_time)
      .col-md-6
        .row
          - games_size = event.games.size
          - klass = games_size > 2 ? "col-md-4 overlap-margin" : "col-md-6"
          - event.games.first(3).each do |game|
            %div{class: klass}
              = image_tag game.cover_url(format: 'cover_small')
        - if games_size > 3
          .row
            .col-md-4.overlap-margin
              %b.badge.badge-warning{ data: {toggle: 'tooltip', placement: 'bottom'}, title: event.games.last(games_size - 3).map(&:name).join(', ') }
                = "+#{games_size - 3}" 


  .card-footer
    .row
      .col-md-12.text-center
        %small.mx-auto= "Hosted by #{event.hosts.map(&:nickname).join(', ')}"