%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  %a.navbar-brand{:href => "#"} Blank_
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if user_signed_in?
        - if @current_community
          %li.nav-item{class: "events-nav"}
            = link_to 'Events', community_events_path(community_id: @current_community.id), class: "nav-link"
            %span.sr-only (current)
          %li.nav-item{class: "communities-nav"}
            = link_to "Community :", community_path(@current_community), class: "nav-link"
          %li.nav-item.dropdown{class: "communities-nav"}
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = "#{@current_community.name}"
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              - current_user.memberships.each do |membership|
                = link_to set_active_communities_path(id: membership.community.id), method: 'post', class: "dropdown-item" do
                  %span
                    = community_icon(membership.community)
                  %span.ml-1
                    = membership.community.name
        %li.nav-item{class: "communities-nav"}
          = link_to 'Communities', communities_path, class: "nav-link"
    %ul.navbar-nav.ml-auto
      %li.nav-item
      - if user_signed_in?
        = link_to destroy_user_session_path, class: "nav-link", method: 'delete', id: 'logout' do
          %i.fas.fa-power-off
        = link_to '#', class: 'nav-link' do
          - if current_user.has_picture?
            = profile_picture_icon(current_user)
          - else
            = current_user.member.nickname
      - else    
        = link_to 'Einloggen', new_user_session_path, class: "nav-link"
        = link_to 'Registrieren', new_user_registration_path, class: "nav-link"