!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Devent
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container#main-container{data: {controller: "#{controller_name}", action: "#{action_name}"}}
      = render partial: 'layouts/navbar'
      #spinner-container.row.d-flex.justify-content-center.hidden
        = render partial: 'layouts/knightrider_spinner'
      .p-2#alert-container
        = render partial: 'layouts/flash', locales: { flash: flash }
      = yield(:actions)
      #content
        = yield
  = yield(:custom_js)